*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 10px;


    ul{
        display: flex;
        list-style-type: none;
        padding: 5px;
        gap: 5px;
        cursor: pointer;
    }
}

.add{
    display: flex;
    /* align-items: end; */
    justify-content: end;
    margin: 10px;

}
.add-button{
    padding: 10px;
    color: white;
    background-color: blue;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    max-width: 98vw;
    gap: 10px;
    padding: 20px;
}
.all-data{
    width: 95vw;
    margin: 15px auto;
    padding: 12px;
    color: white;
    background-color: rgb(15, 23, 42);
    border-radius: 10px;
    border: 1px solid rgb(55, 65, 81);

     table{
        width: 100%;
        text-align: center;
    }
    th , td{
        border-bottom: 1px solid rgb(219, 222, 227);
    }
    td{
        padding: 10px;
    }
    .btn{
        background-color: rgb(55 65 81 / var(--tw-bg-opacity));
        /* border: none; */
        padding: 5px;
        margin: 2px;
        color: white;
        cursor: pointer;
    }

}



